#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.spacer {
  flex-grow: 1;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.grid-item {
  flex-basis: calc(33.333% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item a {
  display: block; /* Make the link fill the container */
  width: 100%;
  text-decoration: none; /* Remove underline from links */
}

.grid-item img {
  width: 100%; /* Ensure the image fills its container */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Prevent the image from exceeding its container */
}

@media (max-width: 600px) {
  .grid-item {
    flex-basis: calc(50% - 20px); /* Two items per row on small screens */
  }
}

@media (max-width: 400px) {
  .grid-item {
    flex-basis: 100%; /* One item per row on very small screens */
  }
}

.Page .Page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px; /* Add padding here */
  box-sizing: border-box; /* This makes sure padding is included in the width calculation */
  position: fixed; /* Ensure navbar stays at the top */
  top: 0;
  left: 0;
  z-index: 10; /* Keep navbar above other content */
}

.Page img {
  width: calc(100vw-60px);
  height: calc(100vw-60px);
  object-fit: cover;

  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);

  @media (orientation: landscape) {
    width: auto;
    height: calc(100vh-60px);
    left: 50%;
    top: calc(50%); /* Adjust for navbar height */
    transform: translate(-50%, calc(-50%));
  }
}

.Page .Page-text {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px; /* Adjust based on your needs */
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  color: white; /* High contrast text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Drop shadow for legibility */
  z-index: 5; /* Ensure it's above the image but below the navbar if overlapping */
  font-size: 2em;
}